body {
  margin: 0%;
  padding: 0%;
}

main {
  width: 100vw;
  height: 100vh;
  background: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bar {
  width: 100vw;
  min-height: 8vh;
  background: white;
  border-bottom: solid 0.07em rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  align-items: center;
}

#bookmarks {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.bookmarkItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  width: auto;
  height: 35px;
  padding: 0% 1%;
  margin: 1% 1.5% 0.5% 0%;
  text-decoration: none;
  border-radius: 0.2em;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.icon {
  max-width: 60px;
  max-height: 15px;
  margin: 3% 5%;
}

.pageName {
  font-weight: lighter;
  color: rgb(41, 41, 41);
  font-size: 1em;
}

.bookmarkItem:hover {
  background: rgb(231, 231, 231);
}

#suffle {
  margin: 0.5% 2%;
  width: auto;
  height: 32px;
  border-style: none;
  background: white;
  font-size: 1.5em;
  font-weight: bolder;
}

#suffle:hover {
  cursor: pointer;
  border: black thin solid;
  border-radius: 0.1em;
}

#instruction {
  margin-bottom: 0.3em;
  color: rgb(255, 50, 50);
  opacity: 0%;
}

#input {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-around;
}

#nameInput {
  min-width: 20vw;
  height: 28px;
  border-radius: 0.3em;
  background: transparent;
  border: rgb(167, 15, 121) solid 0.05em;
  text-align: center;
  color: rgb(0, 0, 172);
  margin-top: 0.5em;
}
#webInput {
  min-width: 20vw;
  height: 28px;
  border-radius: 0.3em;
  background: transparent;
  border: rgb(167, 15, 121) solid 0.05em;
  text-align: center;
  color: rgb(0, 0, 172);
  margin-top: 0.5em;
}

#nameInput:hover {
  box-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.644);
}

#webInput:hover {
  box-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.644);
}

#button {
  min-width: 8vw;
  min-height: 31px;
  border-radius: 0.3em;
  border: rgb(167, 15, 121) solid 0.05em;
  margin-top: 0.5em;
  background: white;
}

#button:hover {
  box-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.644);
  background: rgb(167, 15, 121);
  color: white;
}

@media only screen and (max-width: 600px) {
  #bar {
    flex-direction: column;
  }
  .bookmarkItem {
    width: 500px;
    border-bottom: rgba(0, 0, 0, 0.452) solid 0.05em;
    border-radius: 0px;
    justify-content: flex-start;
  }

  #nameInput,
  #webInput,
  #button {
    min-width: 90vw;
  }
}
